<nav>
  <a [routerLink]="['address-list']">Address List</a>
  <!-- <a [routerLink]="['specs']">Technical Specs</a> -->
</nav>

<!-- Overview & Specs components get added here by the router -->

<form [formGroup]="addForm">



  <mat-card class="contenedor6">
    <div class="example-container">
      <mat-card-title>Agregar Direccion</mat-card-title>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="city" placeholder="City :" name="city" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput formControlName="state" placeholder="State" name="state" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput formControlName="street" placeholder="Street" name="street" id="street" required>
    </mat-form-field>

<!--    <mat-form-field class="example-full-width">-->
<!--      <input matInput formControlName="zipCode" placeholder="Zip Code" name="zipCode" id="zipCode" required>-->
<!--    </mat-form-field>-->

    <mat-card-actions class="example-container">
      <button mat-flat-button>Agregar</button>
      <mat-divider [vertical]="true"></mat-divider>
      <button mat-flat-button routerLink="/home">Regresar</button>
    </mat-card-actions>
  </mat-card>

</form>


<router-outlet></router-outlet>

<!-- <div class="col">
  <h2 class="text-center">Agregar Cliente</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="city">City:</label>
      <input formControlName="city" placeholder="City" name="city" class="form-control" id="city" required>
    </div>

    <div class="form-group">
      <label for="state">State:</label>
      <input formControlName="state" placeholder="State" name="state" class="form-control" id="state" required>
    </div>

    <div class="form-group">
      <label for="street">Street:</label>
      <input type="street" formControlName="street" placeholder="Street" name="street" class="form-control" id="street" required>
    </div>

    <div class="form-group">
      <label for="zipCode">Zip Code:</label>
      <input type="street" formControlName="zipCode" placeholder="Zip Code" name="zipCode" class="form-control" id="zipCode" required>
    </div>

    <button class="btn btn-success">Aceptar</button>
    <button class="btn btn-primary" routerLink="address-list">Regresar</button>
  </form>
</div> -->
