<form class="example-form">
  <mat-card class="contenedor6">
    <mat-card-title>Agregar Phone</mat-card-title>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Tipo :">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Numero :">
    </mat-form-field>
 
    <mat-card-actions>
      <button mat-flat-button>Agregar</button>
    </mat-card-actions>
  </mat-card>
  
</form>