
<mat-card class="contenedor6">
  <div class="title-container">
    <mat-card-title>Agregar Maintenance</mat-card-title>
  </div>
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="maintenanceInfoFormGroup">
      <form [formGroup]="maintenanceInfoFormGroup">
        <ng-template matStepLabel>Fill out Maintenance info</ng-template>

        <mat-form-field class="example-short-width">
          <input matInput formControlName="date" name="date" id="date" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea formControlName="observation" name="observation" id="observation" matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>


        <mat-card-actions class="button-container">
          <mat-divider [vertical]="true"></mat-divider>
          <button mat-flat-button matStepperNext>Next</button>
        </mat-card-actions>
      </form>
    </mat-step>
    <mat-step [stepControl]="clientAndEmployeeFormGroup" [optional]="isOptional">
      <form [formGroup]="clientAndEmployeeFormGroup">
        <ng-template matStepLabel>Assign Client and Employee</ng-template>

        <h4>Select Client</h4>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Client" formControlName="client" >
            <mat-option *ngFor="let client of clients"  [value]="client" name="client">
              {{client.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>





        <h4>Select Employee</h4>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Employee" formControlName="employee">
            <mat-option *ngFor="let emp of employees"  [value]="emp" name="employee">
              {{emp.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-card-actions class="button-container">
          <button mat-flat-button matStepperPrevious>Back</button>
          <mat-divider [vertical]="true"></mat-divider>
          <button mat-flat-button (click)="createMaintenance()">Submit</button>
      </mat-card-actions>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>

