.title-header-center {
    /* /* margin: 20 auto; */
    /* margin-top: 20%;
        */
       display:flex;
       flex-direction: row;
       justify-content: center;
       align-content: center; 
       align-items: center;
       /* background-color: #000000; */
       /* border: 1px solid #000000; */
   }

   table {
    width: 100%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-column-email {
    flex: 0 0 200px;
  }