
  <div *ngIf="info.token; else loggedOut">
        <!-- <mat-card>
    <h5 class="text-primary">Your Information</h5>
    <p>
      <strong>Username:</strong> {{info.username}}<br/>
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}.
    </p>
    <button class="btn btn-secondary" (click)="signOut()">Logout</button>
</mat-card> -->
<mat-card class="contenedor6">
        <div class="test"><h1>Incident Ticket System</h1></div>
        <div class="buttons">
            <button mat-flat-button  routerLink="/employees"> Add Employees</button>
            <button mat-flat-button  routerLink="/clients">   Add Clients</button>
            <button mat-flat-button  routerLink="/incidents"> Add Incidents</button>
            <button mat-flat-button   routerLink="/maintenances">Add Maintenances </button>
        </div>
   </mat-card>


  </div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>




  <!--  -->
