.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  .test {
    /* /* margin: 20 auto; */
    /* margin-top: 20%;
        */
       display:flex;
       flex-direction: row;
      
       justify-content: center;
       align-content: center; 
       /* align-items: center;
       margin-top: 30%;  */
       /* background-color: #000000; */
       border: 1px solid #000000;
   }

   

   .buttons {
    /* /* margin: 20 auto; */
    /* margin-top: 20%;
        */
        display: flex;
       /* flex-direction: row;
       flex-wrap: wrap; */
       justify-content: space-around;
       /* align-content: space-around;  */
       /* align-items: stretch; */
       /* background-color: #000000; */
       /* border: 1px solid #000000; */
   }