<mat-card class="contenedor6">
    <div class="title-container">
        <mat-card-title>Agregar Clientes</mat-card-title>
    </div>
    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="clientInfoFormGroup">
            <form [formGroup]="clientInfoFormGroup">
                <ng-template matStepLabel>Fill out Client info</ng-template>

                <mat-form-field class="example-full-width">
                    <input matInput formControlName="name" placeholder="Name :" name="name" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput formControlName="email" placeholder="Email :" name="email" required>
                </mat-form-field>

                <mat-card-actions class="button-container">
                    <mat-divider [vertical]="true"></mat-divider>
                    <button mat-flat-button matStepperNext>Next</button>
                </mat-card-actions>
            </form>
        </mat-step>
        <mat-step [stepControl]="addressFormGroup" [optional]="isOptional">
            <form [formGroup]="addressFormGroup">
                <ng-template matStepLabel>Fill out Client Address</ng-template>
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="city" placeholder="City :" name="city" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput formControlName="state" placeholder="State" name="state" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput formControlName="street" placeholder="Street" name="street" id="street" required>
                </mat-form-field>

                <mat-card-actions class="button-container">
                    <button mat-flat-button matStepperPrevious>Back</button>
                    <mat-divider [vertical]="true"></mat-divider>
                    <button mat-flat-button matStepperNext>Next</button>
                </mat-card-actions>
            </form>
        </mat-step>
        <mat-step [stepControl]="phoneFormGroup">
            <form [formGroup]="phoneFormGroup">
                <ng-template matStepLabel>Fill out your Phone info</ng-template>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Tipo :" formControlName="typ" name="type" id="typ">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Numero :" formControlName="contactNumber" name="contactNumber" id="contactNumber">
                </mat-form-field>

                <mat-card-actions class="button-container">
                    <button mat-flat-button matStepperPrevious>Back</button>
                    <mat-divider [vertical]="true"></mat-divider>
                    <button mat-flat-button (click)="createClient()">Submit</button>
                    <mat-divider [vertical]="true"></mat-divider>
                    <button mat-flat-button color="warn" (click)="stepper.reset()">Reset</button>
                </mat-card-actions>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</mat-card>
