
  .button-container {

    display: flex;
    flex-direction: row;
    margin-top: 50px;
     /* justify-content: space-around; */
    /* align-content: center; */
    /* align-items: center; */
  
    
    /* background-color: #000000; */
  }

  mat-step-header .mat-step-label {
    overflow: visible;
}
  .title-container{

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
    margin-top: 20px;
  }

  .main-container {
    /* margin: 20px auto; */
   
    
    display:flex;
    flex:2;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-content: center;
    align-items: center; */
    /* background-color: #000000; */
    border: 1px solid #000000;
    }

    .example-full-width {
      width: 100%;
    }

    .main-form {
      min-width:800px;
      max-width: 900px;
      width: 100%;
      margin-top: 100px;
    }