<nav>
  <a routerLink="/user-list">User List</a>
  <!-- <a [routerLink]="['specs']">Technical Specs</a> -->
</nav>

<!-- Overview & Specs components get added here by the router -->

<form [formGroup]="addForm">
  <mat-card class="contenedor6">
    <div class="example-container">
      <mat-card-title>Agregar Usuarios</mat-card-title>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="userName" placeholder="User Name :" name="userName" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput formControlName="firstName" placeholder="First Name" name="firstName" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput formControlName="lastName" placeholder="Last Name" name="lastName" id="lastName" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput formControlName="password" placeholder="Password" name="password" id="password" required>
    </mat-form-field>

    <mat-card-actions class="example-container">
      <button mat-flat-button (click)="createUser()">Add</button>
      <mat-divider [vertical]="true"></mat-divider>
      <button mat-flat-button (click)="goBack()">Regresar</button>
    </mat-card-actions>
  </mat-card>

</form>