<form [formGroup]="form-name" (ngSubmit)="onSubmit()">
  <input type="text"
         placeholder="+1 (123) 456-7890"
         [textMask]="{mask: mask}"
         pattern="\+\d \(\d{3}\) \d{3}-\d{4}"/>
  <button type="submit" [disabled]="!form-name.valid" class="btn btn-default">Submit</button>
</form>