<form  *ngIf="maintenance"  (ngSubmit)="detailForm.valid && onSubmit()">
   
    <mat-card class="contenedor6">
      <div class="example-container">
       <mat-card-title>Maintenance Details</mat-card-title>
       </div>

       <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="maintenance.id" disabled placeholder="Id :" name="id">
      </mat-form-field>
 
       <mat-form-field class="example-full-width">
         <input matInput [(ngModel)]="maintenance.date"  placeholder="Date :" name="date"  required>
       </mat-form-field>
   
       <mat-form-field class="example-full-width">
         <input matInput [(ngModel)]="maintenance.observation"  placeholder="Observation :" name="observation"  required>
       </mat-form-field>
    
       <mat-card-actions class="example-container">
         <button mat-flat-button (click)="updateMaintenance(maintenance)" >UPDATE</button>
         <mat-divider [vertical]="true"></mat-divider>
         <button mat-flat-button (click)="goBack()">Back</button>
         <!-- <button mat-stroked-button routerLink="/address-list">Regresar</button> -->
       </mat-card-actions>
     </mat-card>
   </form>