.example-container {

    display: flex;
    flex-direction: row;
    /* justify-content: center;
    /* align-content: center; */
    /* align-items: center; */
  
    
    /* background-color: #000000; */
  }