<form class="example-form">
  <mat-card class="contenedor6">
    <mat-card-title>Agregar Status</mat-card-title>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre :">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Codigo :">
    </mat-form-field>
 
    <mat-card-actions>
      <button mat-stroked-button>Agregar</button>
    </mat-card-actions>
  </mat-card>
  
</form>