.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 60;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-mat-card {
    width: 150%;
  }

  .example-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .contenedor6 {
    margin: 20px auto;
    width: 150%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* background-color: #000000; */
    border: 1px solid #000000;
    }