<!-- <form  [formGroup]="addForm">
        <mat-card class="contenedor6">
          <div class="example-container">
              <mat-card-title >Agregar Empleados</mat-card-title>
          </div>



          <mat-card-actions class="example-container">
                <button mat-flat-button (click)="createEmployee()">Add</button>
                <mat-divider [vertical]="true"></mat-divider>
                <button mat-flat-button  (click)="goBack()">Regresar</button>
         </mat-card-actions>

        </mat-card>

      </form> -->

      <mat-card class="contenedor6">
        <div class="title-container">
            <mat-card-title>Agregar Empleados</mat-card-title>
        </div>
        <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="employeeInfoFormGroup">
                <form [formGroup]="employeeInfoFormGroup">
                    <ng-template matStepLabel>Fill out Employee info</ng-template>

                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="name" placeholder="Name :" name="name"  required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="lastName" placeholder="Last Name" name="lastName"  required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <input matInput  formControlName="email" placeholder="Email" name="email"  id="email" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                      <input matInput  formControlName="documentId" placeholder="Document Id" name="documentId" id="documentId" required>
                    </mat-form-field>

                    <mat-card-actions class="button-container">
                        <mat-divider [vertical]="true"></mat-divider>
                        <button mat-flat-button matStepperNext>Next</button>
                    </mat-card-actions>
                </form>
            </mat-step>
            <mat-step [stepControl]="addressFormGroup" [optional]="isOptional">
                <form [formGroup]="addressFormGroup">
                    <ng-template matStepLabel>Fill out Client Address</ng-template>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="city" placeholder="City :" name="city" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="state" placeholder="State" name="state" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="street" placeholder="Street" name="street" id="street" required>
                    </mat-form-field>

<!--                    <mat-form-field class="example-full-width">-->
<!--                        <input matInput formControlName="zipCode" placeholder="Zip Code" name="zipCode" id="zipCode"-->
<!--                            required>-->
<!--                    </mat-form-field>-->

                    <mat-card-actions class="button-container">
                        <button mat-flat-button matStepperPrevious>Back</button>
                        <mat-divider [vertical]="true"></mat-divider>
                        <button mat-flat-button matStepperNext>Next</button>
                    </mat-card-actions>
                </form>
            </mat-step>
            <mat-step [stepControl]="phoneFormGroup">
                <form [formGroup]="phoneFormGroup">
                    <ng-template matStepLabel>Fill out your Phone info</ng-template>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Tipo :" formControlName="typ" name="type" id="typ">
                    </mat-form-field>

<!--                  <h4>Select Client</h4>-->
<!--                  <mat-form-field class="example-full-width">-->
<!--                    <mat-select placeholder="Client" formControlName="client" >-->
<!--                      <mat-option *ngFor="let client of clients"  [value]="client" name="client">-->
<!--                        {{client.name}}-->
<!--                      </mat-option>-->
<!--                    </mat-select>-->
<!--                  </mat-form-field>-->

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Numero :" formControlName="contactNumber" name="contactNumber" id="contactNumber">
                    </mat-form-field>

                    <mat-card-actions class="button-container">
                        <button mat-flat-button matStepperPrevious>Back</button>
                        <mat-divider [vertical]="true"></mat-divider>
                        <button mat-flat-button (click)="createEmployee()">Submit</button>
                        <mat-divider [vertical]="true"></mat-divider>
                        <button mat-flat-button color="warn" (click)="stepper.reset()">Reset</button>
                    </mat-card-actions>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
