<nav class="navbar navbar-expand-lg navbar-light bg-light nav-content">
  <a class="navbar-brand" href="#">IncidentTickets</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="user">User Board</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li *ngIf="authority === 'pm'" class="nav-item">
        <a class="nav-link" routerLink="pm">PM Board</a>
      </li>
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="auth/signin">Login</a>
      </li> -->
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="auth/signin">Login</a>
      </li>
      <li *ngIf="authority" class="nav-item"(click)="signOut()">
        <a class="nav-link"  routerLink="auth/signin">LogOut</a>
      </li>

    </ul>
    <p *ngIf="authority" class="nav-item">
      Username : {{username}}
    </p>
  </div>


</nav>
