.example-card {
  max-width: 600px;
  position: center;
  padding: 24px;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
