<div class="example-header">
    <div class="title-header-center">
        <h1>Lista De Clientes</h1>
      </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  
  </div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6>ID</h6> </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6>NAME</h6> </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- State Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6>EMAIL</h6> </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <!-- Street Column
      <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6>STREET</h6> </th>
        <td mat-cell *matCellDef="let element"> {{element.street}} </td>
      </ng-container> -->
  
      <!-- Zip Code Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h6>DETAILS</h6> </th>
        <td mat-cell *matCellDef="let element"><button mat-flat-button routerLink="/client-detail/{{element.id}}">Show Details</button></td>
      </ng-container>
  
      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><h6>DELETE</h6></th>
        <td mat-cell *matCellDef="let element"> <button mat-flat-button color="warn" (click)="deleteClient(element.id)">DELETE</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>