


<div class="example-header ">
    <div class="title-header-center">
        <h1>Lista Incidentes</h1>
      </div>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

  </div>


<div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6>ID</h6> </th>
            <td mat-cell *matCellDef="let element" routerLink="/incident-detail/{{element.id}}"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6>NAME</h6> </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Issue Description Column -->
          <ng-container matColumnDef="issueDescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6>ISSUE DESCRIPTION</h6></th>
            <td mat-cell *matCellDef="let element"> {{element.issueDescription}} </td>
          </ng-container>

          <!-- Issue createtionDate Column -->
          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6>CREATION DATE</h6></th>
            <td mat-cell *matCellDef="let element"> {{element.creationDate | date:'dd-MMM-yy h:mm:ss a'}} </td>
          </ng-container>

          <!-- Incident Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6>INCIDENT STATUS </h6></th>
            <td mat-cell *matCellDef="let element"> {{element.status.name }} </td>
          </ng-container>

          <!-- Document ID Column -->
          <ng-container matColumnDef="solutionDescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <h6>ISSUE SOLUTION</h6> </th>
            <td mat-cell *matCellDef="let element"> {{element.solutionDescription}} </td>
          </ng-container>

            <!--Incidents Column -->
            <!-- <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status.name}} </td>
              </ng-container> -->

           <!-- Addresses Column -->
           <ng-container matColumnDef="client">
              <th mat-header-cell *matHeaderCellDef><h6>CLIENT</h6></th>
              <td mat-cell *matCellDef="let element" routerLink="/client-detail/{{element.client.id}}"> {{element.client.name}} </td>
            </ng-container>

             <!-- Phones Column -->
          <ng-container matColumnDef="employee">
              <th mat-header-cell *matHeaderCellDef><h6>ASIGNED EMPLOYEE</h6></th>
              <td mat-cell *matCellDef="let element" routerLink="/employee-detail/{{element.employee.id}}"> {{element.employee.name +'  '+ element.employee.lastName }}</td>
            </ng-container>

                <!-- Phones Column -->
          <!-- <ng-container matColumnDef="maintenances">
              <th mat-header-cell *matHeaderCellDef>Maintenances </th>
              <td mat-cell *matCellDef="let element"> <button mat-flat-button  (click)="deleteClient(row.id)">Show Maintenances</button> </td>
            </ng-container> -->

                  <!-- Phones Column -->
          <!-- <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>DELETE </th>
              <td mat-cell *matCellDef="let element">  <button mat-flat-button color="warn" (click)="deleteClient(row.id)">DELETE</button></td>
            </ng-container> -->

          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef>Details </th>
            <td mat-cell *matCellDef="let element"> <button mat-flat-button routerLink="/incident-detail/{{element.id}}" >Show Details</button> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
