
<div class="example-header">
  <div class="title-header-center">
      <h1>Lista De Empleados</h1>
    </div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

</div>


  
<div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id +"       "}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <!-- Last Name Column -->
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>
      
          <!-- Document ID Column -->
          <ng-container matColumnDef="documentId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Document Id </th>
            <td mat-cell *matCellDef="let element"> {{element.documentId}} </td>
          </ng-container>

            <!-- Incidents Column
            <ng-container matColumnDef="incidents">
                <th mat-header-cell *matHeaderCellDef> Incidents </th>
                <td mat-cell *matCellDef="let element"> <button mat-flat-button >Show Incidents</button> </td>
              </ng-container> -->

           <!-- Addresses Column -->
           <!-- <ng-container matColumnDef="addresses">
              <th mat-header-cell *matHeaderCellDef> Addresses </th>
              <td mat-cell *matCellDef="let element"> <button mat-flat-button  >Show Addresses</button> </td>
            </ng-container>

             Phones Column -->
          <!-- <ng-container matColumnDef="phones">
              <th mat-header-cell *matHeaderCellDef>Phones </th>
              <td mat-cell *matCellDef="let element"> <button mat-flat-button  >Show Phones</button> </td>
            </ng-container> -->

                <!-- Phones Column -->
          <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef>Details </th>
              <td mat-cell *matCellDef="let element"> <button mat-flat-button routerLink="/employee-detail/{{element.id}}" >Show Details</button> </td>
            </ng-container>

                  <!-- Phones Column -->
          <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>  DELETE </th>
              <td mat-cell *matCellDef="let element">  <button mat-flat-button color="warn" (click)="deleteEmployee(element.id)">DELETE</button></td>
            </ng-container>

           
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>