<form *ngIf="employee" (ngSubmit)="updateForm.valid && onSubmit()">


  <mat-card class="contenedor6">
    <div class="example-container">
      <mat-card-title>Employee Details</mat-card-title>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="employee.id" disabled placeholder="Id :" name="id">

    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="employee.name" placeholder="Name :" name="name" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="employee.lastName" placeholder="Last Name :" name="lastName" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="employee.email" placeholder="Email :" name="email" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="employee.documentId" placeholder="Document Id :" name="documentId" required>
    </mat-form-field>

    <mat-card-actions class="example-container">
      <button mat-flat-button   (click)="updateEmployee(employee)">UPDATE</button>
      <mat-divider [vertical]="true"></mat-divider>
      <button mat-flat-button (click)="goBack()">Back</button>
      <!-- <button mat-stroked-button routerLink="/address-list">Regresar</button> -->
    </mat-card-actions>
  </mat-card>
</form>