/* You can add global styles to this file, and also import other style files */
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 60;
  }

  .example-full-width {
    width: 100%;
  }

  .example-mat-card {
    width: 150%;
  }

  .example-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

  }

  .contenedor6 {
    margin: 20px auto;


    display:flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-content: center;
    align-items: center; */
    /* background-color: #000000; */
    border: 1px solid #000000;
    }

    .contenedor5 {
      margin: 20px auto;
      width: 50%;
      /* display:flex; */
      /* flex-direction: row;
      flex-wrap: wrap; */
      justify-content: center;
      align-content: center;
      align-items: center;
      /* background-color: #000000; */
      border: 1px solid #000000;
      }
