<!-- <form [formGroup]="addForm">
  <mat-card class="contenedor6">
    <div class="example-container">
      <mat-card-title>Agregar Incidente</mat-card-title>
    </div>




    <mat-form-field class="example-full-width">
      <input matInput  name="solutionDescription" placeholder="Descripcion de la solucion:">
    </mat-form-field>

    <mat-card-actions class="example-container">
      <button mat-flat-button (click)="createIncident()" (ngSubmit)="addForm.valid && onSubmit()">Agregar</button>
      <mat-divider [vertical]="true"></mat-divider>
      <button mat-flat-button (click)="goBack()">Regresar</button>
    </mat-card-actions>
  </mat-card>

</form> -->


<mat-card class="contenedor6">
  <div class="title-container">
    <mat-card-title>Agregar Incidentes</mat-card-title>
  </div>
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="incidentInfoFormGroup">
      <form [formGroup]="incidentInfoFormGroup">
        <ng-template matStepLabel>Fill out Incident info</ng-template>

        <mat-form-field class="example-full-width">
          <input matInput formControlName="name" name="name" placeholder="Nombre :">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput formControlName="issueDescription" name="issueDescription" placeholder="Descripcion del problema :">
        </mat-form-field>

        <mat-card-actions class="button-container">
          <mat-divider [vertical]="true"></mat-divider>
          <button mat-flat-button matStepperNext>Next</button>
        </mat-card-actions>
      </form>
    </mat-step>
    <mat-step [stepControl]="clientAndEmployeeFormGroup" [optional]="isOptional">
      <form [formGroup]="clientAndEmployeeFormGroup">
        <ng-template matStepLabel>Assign Client and Employee</ng-template>

        <h4>Select Client</h4>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Client" formControlName="client" >
            <mat-option *ngFor="let client of clients"  [value]="client" name="client">
              {{client.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>





        <h4>Select Employee</h4>
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Employee" formControlName="employee">
            <mat-option *ngFor="let emp of employees"  [value]="emp" name="employee">
              {{emp.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-card-actions class="button-container">
          <button mat-flat-button matStepperPrevious>Back</button>
          <mat-divider [vertical]="true"></mat-divider>
          <button mat-flat-button (click)="createIncident()">Submit</button>
      </mat-card-actions>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
