<form  *ngIf="incident"  (ngSubmit)="updateForm.valid && onSubmit()">

    <mat-card class="contenedor6">
      <div class="example-container">
       <mat-card-title>incident Details</mat-card-title>
       </div>

       <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="incident.id" disabled placeholder="Id :" name="id">
      </mat-form-field>

       <mat-form-field class="example-full-width">
         <input matInput [(ngModel)]="incident.name"  placeholder="Name :" name="name"  required>
       </mat-form-field>

       <mat-form-field class="example-full-width">
         <input matInput [(ngModel)]="incident.issueDescription"  placeholder="Issue Description :" name="issueDescription"  required>
       </mat-form-field>

       <mat-form-field class="example-full-width">
         <input matInput [(ngModel)]="incident.solutionDescription"  placeholder="Issue Solution :" name="solutionDescription">
       </mat-form-field>

       <mat-card-actions class="example-container">
         <button mat-flat-button (click)="updateIncident(incident)" >UPDATE</button>
         <mat-divider [vertical]="true"></mat-divider>
         <button mat-flat-button (click)="goBack()">Back</button>
         <!-- <button mat-stroked-button routerLink="/address-list">Regresar</button> -->
       </mat-card-actions>
     </mat-card>
   </form>

   <!-- id: number;
name: string;
issueDescription: string;
solutionDescription: string;
status: Status;
client: Client;
employee: Employee; -->
