<div class="example-header">
  <div class="title-header-center">
    <h1>Lista Maintenances</h1>
  </div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'dd-MMM-yy '}} </td>
    </ng-container>

    <!-- Observation Name Column -->
    <ng-container matColumnDef="observation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Obervation </th>
      <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
    </ng-container>
      <!-- Client Column -->
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
        <td mat-cell *matCellDef="let element" routerLink="/client-detail/{{element.client.id}}"> {{element.client.name}} </td>
      </ng-container>

    <!-- Employee Column -->
    <ng-container matColumnDef="employee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee </th>
      <td mat-cell *matCellDef="let element" routerLink="/employee-detail/{{element.employee.id}}"> {{element.employee.name +' '+element.employee.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>  DELETE </th>
      <td mat-cell *matCellDef="let element">  <button mat-flat-button color="warn" (click)="deleteMaintenance(element.id)">DELETE</button></td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Details </th>
      <td mat-cell *matCellDef="let element"> <button mat-flat-button routerLink="/maintenance-detil/{{element.id}}" >Show Details</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
